<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mg.incomeexpense">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".contributor.ContributorListActivity"
            android:label="@string/title_contributor_list"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".contributor.ContributorEditorActivity"
            android:label="@string/title_contributor_editor"
            android:parentActivityName=".contributor.ContributorListActivity" >
        </activity>
        <activity
            android:name=".account.AccountListActivity"
            android:label="@string/title_account_list"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".account.AccountEditorActivity"
            android:label="@string/title_account_editor"
            android:parentActivityName=".account.AccountListActivity" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/SettingsTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mg.incomeexpense.MainActivity" />
        </activity>

        <provider
            android:authorities="com.mg.incomeexpense"
            android:name=".data.IncomeExpenseProvider"
            android:exported="false"
            android:syncable="true"/>

    </application>

</manifest>